header{
  /* background: rgb(255,255,255);
  background: linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(69,69,68,1) 100%);  */
}

.header-img{
  background: url(img/tło.png);
  background-size: cover;
  background-position: center;
  min-height: 93%;
  padding: 0px;
  margin: 0px;
}

#menu{
  font-weight: bold;
  
}

#menu li a{
  font-size: 20px;
}


  .header-text, .header-bg{
    display: none;
  }

.about-club p{
  font-size: 20px;
}


.all{
  width: 70%;
  height: 130px;
}

.all a{
  font-size: 40px;
  color: rgb(255, 255, 255);
  align-items: center; 
  padding-left: 40%;
  padding-right: 40%;
  }


  #trainers h2{
    font-size: 45px;
  }

 .container{
    width: 100% !important;
  }

 /*gallery*/

 #gallery{
  margin: 0;
  padding: 0;
  width: 100% !important;
 }

 .carusel{
  position: relative;
  max-width: 800px;
  height: 600px;
  max-height: 100vh;
  margin: 20px auto;
  overflow: hidden;
  user-select: none;
}

#place{
  margin-left: 15px;
}

iframe{
  width:500px;
  height:350px;
}

#place p{
  font-size: 20px;
}

.fab{
  margin-top: 11px;
  color: #4c79db;
  font-size: 40px;
}

/*garafik*/

.mobile-graphic{
  display: none;
}

.dev-graphic{
  display: flex;
}


.dev-graphic{
  height: 350px;
}

th{
  font-size: 22px;
}
