header{

background: -moz-radial-gradient(bottom left, rgba(230,218,51,1), rgba(255, 255, 255, 1.0));

}

.header-img{
  background: url(img/tło.png);
  background-size: cover;
  background-position: center;
  min-height: 93%;
  padding: 0px;
  margin: 0px;
}

.brand-logo{
    background: url(img/logomale.jpg);
    height: 63px;
    width: 56px;
  }
  
  .header-text, .header-bg{
    display: none;
  }

  #trainers h2{
    font-size: 45px;
  }

 .container{
    width: 100% !important;
  }

 /*gallery*/

 #gallery{
  margin: 0;
  padding: 0;
  width: 100% !important;
 }

 .carusel{
  position: relative;
  max-width: 800px;
  height: 600px;
  max-height: 100vh;
  margin: 20px auto;
  overflow: hidden;
  user-select: none;
}

#place{
  margin-left: 15px;
}

.fab{
  margin-top: 11px;
  color: #4c79db;
  font-size: 40px;
}