header{
    height: 95%;
  }

.brand-logo {
    font-size: 20px !important;
    padding-right: 20px !important;
    
}

#trainers h2{
  font-size: 35px;
}

.container{
  width: 100vw !important;
}

iframe{
  width:400px;
  height:300px;
}

.logos{
  margin-top: 15px;
}

.logos2{
  margin-left: 10px;
  margin-right: 10px;
}

.logos1{
  text-align: center;
}

.teak-img{
  position: absolute;
  top: 60%;
}

.teak{
  height: 260px;
  width: 90px;
}